<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Galerie</h1>
        <p class="lead">Alle bereits aufgenommenen Fotos.</p>
    </div>
    {% for pic in pics %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for("static", filename=pic.loc )}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{pic.datetime}}</h5>
        </div>
    </div>
    {% endfor %}
</body>
<ul class="list-group">
    <li v-for="pic in pics" class="list-group-item">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" v-bind:src="pic" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{pic.datetime}}</h5>
            </div>
        </div>
</ul>

</html>