<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">    
    <script defer src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>    
    <script defer src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='vue.js') }}"></script>
    <script defer src="{{ url_for('static', filename='snap.js') }}"></script>
</head>

<body>
    <div id="app">
        <div class="card" style="width: 40rem;">
            <img class="card-img-top" v-bind:src="pic" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Preview</h5>
                <p class="card-text">Fertig? Dann save.</p>
                <a v-on:click="trigger" class="btn btn-primary">Foto</a>
                <a v-on:click="save" class="btn btn-primary">save</a>
            </div>
        </div>
    </div>
</body>

</html>